<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<title>{{file_name}} Raw Data</title>
</head>
<body>
	<h1>{{file_name}}</h1>
    <div class="return-button-container">
      <button class="return-button" type="button" onclick="window.location.href='{{ url_for( 'main') }}';">Return Home</button>
			<button class="return-button" type="button" onclick="window.location.href='{{ url_for( 'get_csv' , key=file_name ) }}';">Download CSV File</button>
    </div>
    <textarea rows="10" cols="50">
          {% for item in raw_data %}
            {{ item }}
          {% endfor %}
      </textarea>
</body>
</html>
